<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Pretvornik enot</title>

    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <h1>Pozdravljeni v pretvorniku enot!</h1>

    <form method="post" action="/">
            <input name="stevilo" placeholder="Vnesi stevilo">
            <select name="operacija">
              <option value="kilometre_v_milje">Kilometre v milje</option>
              <option value="milje_v_kilometre">Milje v kilometre</option>
            </select>
            <button type="submit">Pretvori</button>
    </form>


</body>
</html>